.book-trip {
    margin-bottom: 12.5rem;
		&__inner {
            max-width: calc(66rem + 0.625rem * 2);
            margin-inline: auto;
            padding-inline: 0.625rem;

            display: flex;
            align-items: center;
            gap: 7.4rem;
		}

		&__left {
            flex: 32rem 1 1;
		}

		&__category {
            display: block;
            margin-bottom: 0.94rem;
		}

		&__title {
            margin-bottom: 1.94rem;
		}

		&__steps {
            display: flex;
            flex-direction: column;
            gap: 3rem;
		}

		&__step {
            display: flex;
            align-items: center;
            gap: 1.31rem;
            &-title {
                color: var(--text-main);
                font-weight: 700;
                line-height: 124.5%;
                margin-bottom: 0.31rem;
                display: block;
            }
            &-desc {
                color: var(--text-main);
                font-weight: 400;
                line-height: 124.5%;
                max-width: 20.5rem;
            }
		}

		&__step--choose {
            &::before {
                content: url(../images/book-trip/choose.svg);
                width: 2.94rem;
                height: 3rem;
            }
		}

		&__step--make {
            &::before {
                content: url(../images/book-trip/make.svg);
                width: 2.94rem;
                height: 3rem;
            }
		}

		&__step--reach {
            &::before {
                content: url(../images/book-trip/reach.svg);
                width: 2.94rem;
                height: 3rem;
            }
		}

		&__right {
            display: flex;
            flex-direction: column;
            height: 25rem;
            border-radius: 1.5rem;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
            padding: 1.25rem 1.5rem;
		}

        &__image {
            margin-bottom: 1.63rem;
        }

		&__location {
            color: var(--text-dark);
            font-size: 1.13rem;
            font-weight: 500;
            line-height: 124.5%;
            letter-spacing: 1.5%;
            margin-bottom: 0.81rem;
		}

		&__info {
            color: var(--text-muted);
            font-weight: 500;
            line-height: 124.5%;
            letter-spacing: -0.5%;
            margin-bottom: 1.31rem;
		}

		&__date {
            &::after {
                content: '|';
                margin-left: 0.22rem;
            }
		}

		&__options {
            display: flex;
            gap: 1.31rem;
            margin-bottom: 1.81rem;
		}

		&__tracking {
            display: flex;
            align-items: center;
            justify-content: space-between;
		}

        &__going {
            display: inline-flex;
            gap: 0.94rem;
            color: var(--text-muted);
            font-size: 1rem;
            font-weight: 500;
            line-height: 124.5%;
            letter-spacing: -2%;
            &::before {
                content: url(../images/book-trip/building.svg);
            }
        }

		&__favorite {
            cursor: pointer;
		}
}
// max-width: 998px
@media (max-width: 62.375rem) {
    .book-trip {
        &__inner {
            flex-wrap: wrap;
            justify-content: center;
            gap: 3rem;
        }
        &__left {
            justify-items: center;
        }
        &__title {
            text-align: center;
        }
        
    }
}