.book-trip {
    margin-bottom: 12.5rem;
		&__inner {
            max-width: calc(66rem + 0.625rem * 2);
            margin-inline: auto;
            padding-inline: 0.625rem;

            display: flex;
            align-items: center;
            gap: 7.4rem;
		}

		&__left {
            flex: 32rem 1 1;
		}

		&__category {
            display: block;
            margin-bottom: 0.94rem;
		}

		&__title {
            margin-bottom: 1.94rem;
		}

		&__steps {
            display: flex;
            flex-direction: column;
            gap: 3rem;
		}

		&__step {
            display: flex;
            align-items: center;
            gap: 1.31rem;
            &-title {
                color: var(--text-main);
                font-weight: 700;
                line-height: 124.5%;
                margin-bottom: 0.31rem;
                display: block;
            }
            &-desc {
                color: var(--text-main);
                font-weight: 400;
                line-height: 124.5%;
                max-width: 20.5rem;
            }
		}

		&__step--choose {
            &::before {
                content: url(../images/book-trip/choose.svg);
                width: 2.94rem;
                height: 3rem;
            }
		}

		&__step--make {
            &::before {
                content: url(../images/book-trip/make.svg);
                width: 2.94rem;
                height: 3rem;
            }
		}

		&__step--reach {
            &::before {
                content: url(../images/book-trip/reach.svg);
                width: 2.94rem;
                height: 3rem;
            }
		}

		&__right {
            display: flex;
            flex-direction: column;
            height: 25rem;
            border-radius: 1.5rem;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
            padding: 1.25rem 1.5rem;

            position: relative;
		}

        &__image {
            margin-bottom: 1.63rem;
        }

		&__location {
            color: var(--text-dark);
            font-size: 1.13rem;
            font-weight: 500;
            line-height: 124.5%;
            letter-spacing: 1.5%;
            margin-bottom: 0.81rem;
		}

		&__info {
            color: var(--text-muted);
            font-weight: 500;
            line-height: 124.5%;
            letter-spacing: -0.5%;
            margin-bottom: 1.31rem;
		}

		&__date {
            &::after {
                content: '|';
                margin-left: 0.22rem;
            }
		}

		&__options {
            display: flex;
            gap: 1.31rem;
            margin-bottom: 1.81rem;
		}

		&__tracking {
            display: flex;
            align-items: center;
            justify-content: space-between;
		}

        &__going {
            display: inline-flex;
            gap: 0.94rem;
            color: var(--text-muted);
            font-size: 1rem;
            font-weight: 500;
            line-height: 124.5%;
            letter-spacing: -2%;
            &::before {
                content: url(../images/book-trip/building.svg);
            }
        }

		&__favorite {
            cursor: pointer;
		}

        // Ongoing modal
        &__modal {
            width: 16.5rem;
            height: 8rem;
            background-color: var(--bg-white);
            border-radius: 1.125rem;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);

            position: absolute;
            right: -7.2rem;
            bottom: 3.25rem;

            display: flex;
            gap: 0.7rem;

            padding: 1.125rem 1.25rem;

            opacity: 0;
            transition: opacity 0.3s;

            &-image {
                width: 3.125rem;
                height: 3.125rem;
            }
            &-content {
                display: flex;
                flex-direction: column;
            }
            &-category {
                color: var(--text-main);
                font-size: 0.875rem;
                font-weight: 500;
                line-height: 124.5%;
                letter-spacing: -3.5%;
            }
            &-title {
                color: #000000;
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 124.5%;
                letter-spacing: -1.5%;

                margin-top: 0.375rem;
            }
            &-progress {
                margin-top: 0.875rem;
            }
            &-completed {
                font-size: 0.875rem;
                font-weight: 500;
                line-height: 124.5%;
                letter-spacing: -5.5%;
                text-align: left;
            }
            &-percent {
                color: var(--color-accent-purple);
            }
            &-line {
                width: 9.75rem;
                height: 0.31rem;
                border-radius: 1.88rem;
                background: var(--circle, rgba(245, 245, 245, 1));

                position: relative;

                margin-top: 0.63rem;
                &::before {
                    content: '';
                    width: 4.56rem;
                    height: 0.31rem;
                    border-radius: 1.88rem;
                    background: var(--1, rgba(138, 121, 223, 1));
                    
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            &--active {
                opacity: 1;
            }
		}
}
// max-width: 1286px
@media (max-width: 80.375rem) {
    .book-trip {
        // Ongoing modal
        &__modal {
            right: 5%;
            bottom: 14%;
        }
    }
}


// max-width: 998px
@media (max-width: 62.375rem) {
    .book-trip {
        &__inner {
            flex-wrap: wrap;
            justify-content: center;
            gap: 3rem;
        }
        &__left {
            justify-items: center;
        }
        &__title {
            text-align: center;
        }
        
    }
}

// max-width: 375px
@media (max-width: 23.4375rem) {
    .book-trip {
        // Ongoing modal
        &__modal {
            right: 5%;
            bottom: 21%;
        }
    }
}