.destinations {
    &__inner {
        max-width: calc(69.5rem + 0.625rem * 2);
        margin-inline: auto;
        padding-inline: 0.625rem;
        padding-bottom: 12.5rem;
    }

    &__category {
        display: block;
        text-align: center;
    }

    &__title {
        text-align: center;
        margin-bottom: 3.75rem;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19.63rem, 20rem));
        gap: 2.25rem;
    }

    &__card {
        width: 19.63rem;
        height: auto;
        position: relative;
        &:last-child {
            margin-left: 1.56rem;
            position: relative;
            &::after {
                content: url(../images/destinations/card-decore.svg);
                position: absolute;
                right: -3.88rem;
                bottom: 2.94rem;
                z-index: -1;
            }
        }
        &-title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.2rem;
        }
        &-image {
            border-radius: 1.5rem;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
        }
        &-content {
            width: 100%;
            height: 8.13rem;
            position: absolute;
            bottom: 0;
            
            background-color: var(--bg-white);
            border-bottom-left-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;

            padding: 1.69rem 1.25rem;

        }
        &-city {
            color: var(--text-main);
            font-size: 1.13rem;
            font-weight: 500;
            line-height: 124.5%;
            transition: color 0.2s;
            cursor: pointer;
            &:hover {
                color: var(--text-dark);
            }
        }
        &-price {
            color: var(--text-main);
            font-size: 1.13rem;
            font-weight: 500;
            line-height: 124.5%;
        }
        &-navigation {
            display: flex;
            color: var(--text-main);
            font-weight: 500;
            line-height: 124.5%;
            &::before {
                content: '';
                width: 1.25rem;
                height: 1.25rem;
                background-image: url(../images/destinations/navigation.png);
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 0.88rem;
            }
        }
    }
}

@media (max-width: 66rem) {
    .destinations {
        &__inner {
            overflow-x: hidden;
            padding-bottom: 6rem;
        }
        &__cards {
            justify-content: center;
            
        }
        &__card {
            &:last-child {
                margin-left: 0;
            }
        }
    }
}