.footer {

		&__inner {
            max-width: calc(66.5rem + 0.625rem * 2);
            margin-inline: auto;
            padding-inline: 0.625rem;
		}

		&__top {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            gap: 5rem;

            margin-bottom: 5.25rem;
		}

		&__logo {
            display: block;
            color: var(--color-primary);
            font-size: 2.75rem;
            font-weight: 500;
            line-height: 4rem;
            text-decoration: none;
		}

		&__slogan {
            color: var(--text-main);
            font-size: 0.8125rem;
            font-weight: 500;
            line-height: 124.5%;
            text-align: left;
		}

		&__menu {
            &-list {
                display: flex;
                justify-content: space-between;
                gap: 4.5rem;
            }
            &-link {
                display: block;
                color: var(--text-dark);
                font-size: 1.3125rem;
                font-weight: 700;
                line-height: 124.5%;
                text-decoration: none;
                margin-bottom: 2rem;
            }
            // sublist
            &-sublist {
                display: flex;
                flex-direction: column;
                gap: 0.8125rem;
            }
            &-sublink {
                color: var(--text-main);
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 124.5%;
                text-decoration: none;
            }
		}

		&__socials {
            display: flex;
            gap: 1.5625rem;
            margin-bottom: 1.625rem;
            &-item {
                width: 2.5625rem;
                height: 2.5625rem;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
                background: var(--bg-white);
                border-radius: 50%;
                transition: background 0.2s ease;
                &:hover {
                    background: var(--gradient-angular);
                }
            }
            &-icon--instagram {
                filter: invert(1);
            }
		}

		&__apps {
            &-disc {
                display: block;
                color: var(--text-main);
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 124.5%;
                letter-spacing: 0.5%;
                margin-bottom: 1rem;
            }
            &-list {
                display: flex;
                gap: 0.5rem;
            }
		}

		&__copy {
            text-align: center;
            color: var(--text-main);
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 124.5%;
            padding-bottom: 6rem;
		}
}

@media (max-width: 62rem) {
    .footer {
        &__top {
            flex-direction: column;
            align-items: center;
        }
        &__logo {
            text-align: center;
        }
        &__slogan {
            text-align: center;
        }
        &__menu {
            width: 100%;
            &-list {
                width: 100%;
                justify-content: space-evenly;
            }
        }
        &__socials {
            justify-content: center;
        }
        &__apps {
            &-disc {
                text-align: center;
            }
        }
    }
}

@media (max-width: 30rem) {
    .footer {
        &__top {
            gap: 2rem;
        }
        &__menu {
            &-list {
                flex-direction: column;
                gap: 1rem;
            }
            &-link {
                position: relative;
                width: 100%;
                margin-bottom: 0;
                text-align-last: left;
                &::after {
                    content: url(../images/icons/arrow_up.svg);
                    position: absolute;
                    right: 0.625rem;
                }
                &--active::after {
                    content: url(../images/icons/arrow_down.svg);
                    position: absolute;
                    right: 0.625rem;
                }
            }
            &-sublist {
                display: none;
                margin-top: 0.5rem;
                &--active {
                    display: flex;
                    gap: 0.5rem;
                }
            }
        }
        &__copy {
            padding-bottom: 1rem;
        }
    }
}