%header-text {
    font-family: var(--font-roboto);
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    color: var(--text-dark);
    text-decoration: none;
}
.header {
    padding: 49px 0 18px 0;
    &__inner {
        max-width: 1140px;
        margin: 0 auto;
    }

    &__content {
        padding: 0 10px;
        
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: auto;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 86px;
        &-list {
            display: flex;
            gap: 52px;
            list-style: none;
        }
        &-link {
            @extend %header-text;
            transition: color 0.3s;

            &:hover {
                color: var(--color-secondary);
            }

        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 42px;
        &-login {
            @extend %header-text;
        }
        &-register {
            @extend %header-text;
            box-sizing: border-box;
            border: 1px solid var(--text-dark);
            border-radius: 5px;
            padding: 9px 22px;
        }
        &-lang {
            @extend %header-text;
            display: inline-flex;
            align-items: center;
            margin-right: auto;
            background: url('../images/icons/arrow_down.svg') no-repeat right center;
            padding-right: 20px;
        }
    }

    &__burger {
        display: none;
    }
}

@media (max-width: 1024px) {
    %header-text {
        font-family: var(--font-roboto);
        font-size: 17px;
        font-weight: 500;
        line-height: 20px;
        color: var(--text-white);
        text-decoration: none;
    }
    .header {
        padding: 20px 0;
        &__content {
            justify-content: space-between;
            gap: 12px;
        }
        &__logo {
            margin: 0;
            position: relative;
            z-index: 50;
        }
        &__menu {
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 40;
            gap: 30px;
            width: 100%;
            height: 100vh;
            background: var(--gradient-secondary);

            flex-direction: column;
            justify-content: center;
            text-align: center;
            overflow-y: auto;

            transition: all 0.2s;
            &-list {
                flex-direction: column;
            }
            &-link {
                width: 100%;
                font-size: 21px;
                color: var(--text-white);
            }
            &--active {
                right: 0;
            }
        }
        &__actions {
            &-register {
                border: 1px solid var(--text-white);
            }
            &-lang {
                background: url('../images/icons/arrow_down_white.svg') no-repeat right center;
            }
        }
        &__burger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 24px;
            height: 18px;
            padding: 0;
            background: none;
            border: none;
            position: relative;
            z-index: 50;
            cursor: pointer;
            transition: all 0.3s;

            span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: var(--text-dark);
                transition: transform 0.3s ease, opacity 0.3s ease, top 0.3s ease;
                position: relative;
            }
        &--active {
            span {
                background-color: var(--text-white);
            }
            span:first-child {
                transform: rotate(45deg);
                top: 8px
            }
            span:nth-child(2) {
                opacity: 0;
            }
            span:last-child {
                transform: rotate(-45deg);
                top: -8px
            }
        }
        }
    }
}
