%header-text {
    font-family: var(--font-roboto);
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--text-dark);
    text-decoration: none;
}
.header {
    position: relative;
    z-index: 50;
    padding-top: 3.0625rem;
    &__inner {
        max-width: calc(72.5rem + 0.625rem * 2);
        margin-inline: auto;
        padding-inline: 0.625rem;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: auto;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 5.375rem;
        &-list {
            display: flex;
            gap: 3.75rem;
            list-style: none;
        }
        &-link {
            @extend %header-text;
            transition: color 0.3s;

            &:hover {
                color: var(--color-secondary);
            }

        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 2.625rem;
        &-login {
            @extend %header-text;
        }
        &-register {
            @extend %header-text;
            box-sizing: border-box;
            border: 1px solid var(--text-dark);
            border-radius: 0.3125rem;
            padding: 0.5625rem 1.375rem;
        }
        &-lang {
            @extend %header-text;
            display: inline-flex;
            align-items: center;
            margin-right: auto;
            background: url('/dist/images/icons/arrow_down.svg') no-repeat right center;
            padding-right: 20px;
        }
    }

    &__burger {
        display: none;
    }
}

// max-width: 1024px
@media (max-width: 64rem) {
    .header {
        padding: 1.25rem 0;
        &__content {
            justify-content: space-between;
            gap: 0.75rem;
        }
        &__logo {
            margin: 0;
            position: relative;
            z-index: 50;
        }
        &__menu {
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 40;
            gap: 1.875rem;
            width: 100%;
            height: 100vh;
            background: var(--gradient-secondary);
            padding-top: 6.25rem;
            padding-bottom: 3.125rem;

            flex-direction: column;
            justify-content: flex-start;
            text-align: center;
            overflow-y: auto;

            transition: all 0.2s;
            &-list {
                height: 100%;
                flex-direction: column;
            }
            &-link {
                width: 100%;
                font-size: 21px;
                color: var(--text-white);
            }
            &--active {
                right: 0;
            }
        }
        &__actions {
            &-login {
                color: var(--text-white)
            }
            &-register {
                @extend %header-text;
                box-sizing: border-box;
                border: 1px solid var(--text-white);
                color: var(--text-white);
                border-radius: 0.3125rem;
                padding: 0.5625rem 1.375rem;
            }
            &-lang {
                @extend %header-text;
                display: inline-flex;
                align-items: center;
                margin-right: auto;
                background: url('/dist/images/icons/arrow_down_white.svg') no-repeat right center;
                color: var(--text-white);
                padding-right: 20px;
            }
        }

        &__burger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 24px;
            height: 18px;
            padding: 0;
            background: none;
            border: none;
            position: relative;
            z-index: 50;
            cursor: pointer;
            transition: all 0.3s;

            span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: var(--text-dark);
                transition: transform 0.3s ease, opacity 0.3s ease, top 0.3s ease;
                position: relative;
            }
        &--active {
            span {
                background-color: var(--text-white);
            }
            span:first-child {
                transform: rotate(45deg);
                top: 8px
            }
            span:nth-child(2) {
                opacity: 0;
            }
            span:last-child {
                transform: rotate(-45deg);
                top: -8px
            }
        }
        }
    }
}
