.services {
    padding-top: 6rem;
    padding-bottom: 12.5rem;
    position: relative;
    &::after {
        content: '';
        display: flex;
        position: absolute;
        top: 5%;
        right: 5%;
        z-index: -1;

        width: 9.5rem;
        height: 10rem;
        background-image: url(/dist/images/services/bg-decore.svg);
    }
		&__inner {
            max-width: calc(72.5rem + 0.625rem * 2);
            margin-inline: auto;
            padding-inline: 0.625rem;
            position: relative;
		}

		&__category {
            display: block;
            text-align: center;
            text-transform: uppercase;
		}

		&__title {
            text-align: center;
		}

		&__cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(auto, 12rem));
            justify-items: center;
            justify-content: center;
            gap: 7.38rem;
            margin-top: 4.25rem;
		}

		&__card {
            width: 12rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            &--active {
                position: relative;
                &::after {
                    content: '';
                    width: 16.69rem;
                    height: 19.63rem;
                    border-radius: 2.25rem;
                    box-shadow: 0rem 6.25rem 80rem 0rem rgba(0, 0, 0, 0.02),0rem 4.05rem 46.85185241699219rem 0rem rgba(0, 0, 0, 0.02),0rem 2.41rem 25.481481552124023rem 0rem rgba(0, 0, 0, 0.01),0rem 1.25rem 13rem 0rem rgba(0, 0, 0, 0.01),0rem 0.51rem 6.518518447875977rem 0rem rgba(0, 0, 0, 0.01),0rem 0.12rem 3.1481480598449707rem 0rem rgba(0, 0, 0, 0);
                    background: var(--bg-white);
                    position: absolute;
                    z-index: -1;
                }
                &::before {
                    content: '';
                    width: 6.25rem;
                    height: 6.25rem;
                    border-radius: 1.88rem 0rem 0.63rem 0rem;
                    background: var(--color-secondary);
                    position: absolute;
                    left: -35%;
                    bottom: -35%;
                    z-index: -1;
                }
            }
            &-image {
                margin-bottom: 1.81rem;
            }
            &-title {
                color: var(--text-heading);
                font-size: 1.25rem;
                font-weight: 700;
                font-family: var(--font-opensans);
                line-height: 1.5rem;
                margin-bottom: 1rem;
            }
            &-desc {
                color: var(--text-main);
                font-weight: 500;
                line-height: 1.63rem;
            }
		}
}

// max-width 1100px
@media (max-width: 68.75rem) {
    .services {
        padding-top: 3rem;
        padding-bottom: 6rem;
        &::after {
            display: none;
        }
        &__inner {
            &::after {
                display: none;
            }
        }

    }
}