.subscribe {
    padding-bottom: 12.5rem;
    &__inner {
        max-width: calc(73rem + 0.625rem * 2);
        margin-inline: auto;
        padding-inline: 0.625rem;

        position: relative;
        &::before {
            content: '';

            width: 4.375rem;
            height: 4.375rem;
            background-image: url(../images/subscribe/icon-telegram.svg);
            background-size: contain;

            position: absolute;
            right: -1.25rem;
            top: -1rem;
        }
    }

    &__form {
        padding: 5rem 9rem;
        border-radius: 8rem 1.25rem 1.25rem 1.25rem;
        background-color: rgba(223, 215, 249, .2);
        overflow: hidden;

        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            z-index: 1;

            width: 100%;
            height: 100%;
            background: url(../images/subscribe/decore-subscribe0.svg) no-repeat;

        }
        &::after {
            content: '';
            position: absolute;
            left: 77%;
            top: 0;
            z-index: 1;

            width: 100%;
            height: 100%;
            background: url(../images/subscribe/decore-subscribe1.svg) no-repeat;
        }

        &-content {
            display: flex;
            justify-content: center;
        }

        &-title {
            color: var(--text-main);
            font-size: clamp(1.25rem, 5vw, 2.0625rem);
            font-weight: 600;
            line-height: 3.375rem;
            text-align: center;

            margin-bottom: 5rem;
        }
        &-label {
            display: inline-flex;
            margin-right: 1.5rem;
            position: relative;
            z-index: 10;
            &::before {
                content: url(../images/icons/email.svg);
                height: 100%;

                position: absolute;
                top: 0.2rem;
                left: 2rem;

                display: flex;
                align-items: center;

            }
        }
        &-input {
            flex: 1 0 26rem;
            max-width: 100%;
            min-height: 4.25rem;
            border-radius: 0.625rem;

            color: var(--text-light);
            font-family: var(--font-montserrat);
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.0625rem;

            padding: 0 2rem 0 4.5rem;
        }

        &-btn {
            color: var(--text-white);
            font-family: var(--font-opensans);
            font-size: 1.0625rem;
            font-weight: 400;
            line-height: 1.25rem;

            border-radius: 0.625rem;
            background: var(--gradient-primary);

            padding: 1.375rem 3.125rem;

            position: relative;
            z-index: 10;
        }
    }
}

// max-width: 1240px
@media (max-width: 77.5rem) {
    .subscribe {
        &__inner {
            &::before {
                top: 0;
                right: 0;
            }
        }
    }
}
// max-width: 768px
@media (max-width: 48rem) {
    .subscribe {
        padding-bottom: 6rem;
        &__inner {
            &::before {
                top: 0;
                right: 0;
            }
        }
        &__form {
            padding: 3rem;
            &-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }
            &-title {
                margin-bottom: 1rem;
            }
            &-label {
                width: 100%;
                margin: 0;
            }
            &-input {
                flex: none;
                width: 100%;
            }
            &-btn {
                width: 100%;
            }
        }
    }
}