@use '../../node_modules/scss-reset/scss-reset.scss';
@use 'base/typography';
@use 'base/variables';
@use 'layout/header';
@use 'layout/hero';
@use 'components/buttons';

html {
    font-family: var(--font-poppins);
}

.hidden {
    overflow: hidden;
}